.log-lines-container { 
    padding: 0px;
    margin: 0 auto;
    display: flex;
    overflow: auto;
}

#log-lines {
    font-size: 15px;
    line-height: initial;
}

#log-lines p {
    margin: 0;
}

#log-lines pre {
    margin: 0;
    font-family: Consolas, monaco, 'Courier New', Courier, monospace;
}

.error, .fatal {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.debug {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
