html {
    overflow-x: auto;
}

.header-container { 
    background: #eee; 
    height: 60px; 
    left: 0; 
    position: fixed; 
    width: 100%; 
    top: 0; 
}

.log-lines-container { 
    margin: 0 auto; 
    overflow: auto; 
    padding-top: 60px;
    display: inline-block;
}

#log-lines p {
    margin: 0;
}

#log-lines pre {
    margin: 0;
    font-family: Consolas, monaco, 'Courier New', Courier, monospace;
}

.error, .fatal {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.debug {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
